mongodb+srv://officevikas199_db_user:syW70q0lm1v5ENp6@cluster0.7whbqpz.mongodb.net/?appName=Cluster0

JWT_SECRET=Qcq7OkB++l1pLQvrjooLds0zvedZMVCuNCJWqaOn+aOmClXSAz34Dmp+H33NX8oh


PORT=4000
CORS_ORIGIN=http://localhost:3000
ADMIN_EMAILS=office.vikas199@gmail.com